src/main/resources/wsdl/pizzaDetails.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.atos.net/xml/pizzeria" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.atos.net/xml/pizzeria" targetNamespace="http://www.atos.net/xml/pizzeria">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.atos.net/xml/pizzeria">

    <xs:element name="PizzaDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PizzaDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Pizza" type="tns:Pizza"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Pizza">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="ingredients" type="xs:string"/>
            </xs:sequence>
            <xs:element name="sauce" type="xs:string"/>
            <xs:element name="price" type="xs:long"/>
            <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="PizzaDetailsRequest">
    <wsdl:part element="tns:PizzaDetailsRequest" name="PizzaDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PizzaDetailsResponse">
    <wsdl:part element="tns:PizzaDetailsResponse" name="PizzaDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PizzaDetailsPort">
    <wsdl:operation name="PizzaDetails">
      <wsdl:input message="tns:PizzaDetailsRequest" name="PizzaDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:PizzaDetailsResponse" name="PizzaDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PizzaDetailsPortSoap11" type="tns:PizzaDetailsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PizzaDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="PizzaDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PizzaDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaDetailsPortService">
    <wsdl:port binding="tns:PizzaDetailsPortSoap11" name="PizzaDetailsPortSoap11">
      <soap:address location="http://localhost:8080/service/pizza-details"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>